<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35120178018-4mr56fjqlq5ej4k0t5tggemrqt7abk3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35120178018-4mr56fjqlq5ej4k0t5tggemrqt7abk3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBABtvePfKvkxisvsOzlK4rIQSIucl73d0</string>
	<key>GCM_SENDER_ID</key>
	<string>35120178018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicknguyen.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-aaba9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-aaba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35120178018:ios:16825b5192b04bf17bc23b</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-aaba9.firebaseio.com</string>
</dict>
</plist>